@import url("../css/footer.css");


:root {
	--bg-green:	#edf5f1;
  --l-green: #79BD9A;
  --d-green: #207B44;
	--card: #6E8877;

}

@font-face {
	font-family: "arcocyrillic";
	src: url("../fonts/arcocyrillic.woff") format('woff');
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	background-color: var(--bg-green);
	display: flex;
	flex-direction: column;
	height: 100%;
}

.button{
	background-color: var(--l-green);
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 36px;
	color: #fff;
	border: none;
	border-radius: 6px;
	box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.05),0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title{
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

/* ============ HEADER =================== */
.header{
	background-color: #fff;
}

.header__container{
	display: flex;
	width: 1140px;
	height: 70px;
	gap: 44px;
	margin: auto;
	align-items: center;
}

.header__logo{
	height: 42px;
}

.navigation__list{
	display: flex;
	gap: 44px;
}

.navigation__list__item{
	transition: color 0.2s;
}

.navigation__list__item:hover:not(.navigation__list__item_active){
	color: var(--l-green);
}

.navigation__list__item_active{
	color: var(--d-green);
}

/* =============== MAIN ======================== */

.main{
	padding-top: 20px;
	width: 1440px;
	margin: auto;
	flex: 1 1 auto;
}

.main__navbar{
	color: #6A6A6A;
	font-size: 16px;
	width: 1140px;
	margin: auto;
	margin-bottom: 40px;
	display: flex;
	gap: 18px;
}

.main__navbar a{
	position: relative;
	padding-left: 25px;
}

.main__navbar a::before{
	content: "";
	display: block;
	width: 12px;
	height: 16px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: url("../images/icons/nav_arr.svg") no-repeat;
}



/* =============== CARDS ======================== */

.cards{
	width: 1140px;
	margin: auto;
	margin-bottom: 146px;
}

.cards__container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 8px;
}

.cards__title{
	font-size: 48px;
	margin-bottom: 40px;
}

.card{
	display: flex;
	max-width: 566px;
	height: 220px;
	border-radius: 6px;
	overflow: hidden;
}

.card__description{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: #fff;
	gap: 11px;
	background-color: var(--card);
	width: 50%;
	position: relative;
	text-align: start;
	padding-left: 10%;
}

.card__description::after{
	content: "";
	position: absolute;
	background: url("../images/icons/card_triangle.svg") no-repeat;
	height: 12%;
	width: 6%;
	right: 0px;
	transform: translateX(95%);
}

.description__title{
	font-size: 28px;
}

.description__text{
	font-size: 16px;
}

.description__place{
	font-size: 20px;
}

.card__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* =================== REQUEST ===================*/

.request{
	width: 1440px;
	margin: auto;
	background-color: #fff;
	padding: 72px 0 220px;
}

.request__container{
	display: grid;
	width: 1140px;
	margin: auto;
	grid-template-areas: 
	"title title"
	"form description";
	justify-items: center;
	column-gap: 98px;
}

.request__title{
	grid-area: title;
	justify-self: start;
	font-size: 48px;
	margin-bottom: 80px;
}

.request__form {
	justify-self: start;
	grid-area: form;
  display: flex;
	flex-direction: column;
	width: 100%;
	gap: 25px;
}

.form-group {
	display: flex;
	flex-direction: column;
}

.form-group label{
	align-self: flex-start;
	transform: translate(20px, 50%);
	z-index: 1;
	background-color: #fff;
	padding: 0 4px;
	font-size: 16px;
}

.form-group input{
	height: 72px;	
	border-radius: 4px;
	font-size: 30px;
	padding: 0 20px;
}

.request__description{
	align-self: flex-start;
	grid-area: description;
	padding: 70px 40px;
	max-width: 325px;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0px 6px 24px 4px rgba(85, 119, 98, 0.4);
	line-height: 28px;
}

.form__button{
	font-size: 32px;
	height: 72px;
}
